@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;

    font-family:  'Tenor Sans', sans-serif;
    color: #1b1b1b;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    position: relative;

    width: 25vw;
    padding: 10px 0 10px 0;
    border: 1px solid #818181;
    border-radius: 10px;
}

.book img {
    top: 0;
    right: 5px;
}

.book > header {
    font-size: 32px;
    text-align: center;
}

.book-info-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

.info-container {
    display: flex;
    justify-content: space-between;
}

.book p {
    font-size: 24px;
}

.book button {
    font-size: 24px;
}

.book .delete-button {
    align-self: center;
}

body > header {
    text-align: center;
    font-size: 40px;

    padding: 6px;
    border-bottom: 2px solid black;
    box-shadow: 0px 0px 5px 2px #1b1b1b22;
}

.bookshelf-buttons {
    display: flex;
    gap: 10px;
    align-items: center;

    height: 3vh;
    width: 30%;
    padding: 1vh 0 1vh 3vw;
}

.bookshelf-buttons select, .bookshelf-buttons label {
    font-size: 20px;
}

.bookshelf-buttons img {
    height: 3vh;
}

.form-container {
    visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    background-color: #2678e422;

    height: 100vh;
    width: 100%;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: 40vh;
    width: 30vw;
    border: 1px solid #818181;
    border-radius: 20px;

    background-color: white;
    box-shadow: 0px 0px 5px 3px #0a4fa822;
}

form > header {
    font-size: 40px;
}

.exit-button {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 40px;
}

form label {
    font-size: 28px;
}

form input {
    font-size: 28px;
    text-align: right;

    border: 1px solid #818181;
    border-radius: 5px;
    
    background-color: #2678e422;
}

form select {
    font-size: 28px;
    border: 1px solid #818181;
    border-radius: 5px;

    background-color: #2678e422;
}

form input[type="checkbox"] {
    height: 20px;
    width: 20px;
}

form input[type="submit"] {
    padding: 5px 15px 5px 15px;
}

.form-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}